.dialog {
    position: fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:1;
    background-color: RGBA(0,0,0,0.5);
}
.dialog .content {
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding:5px;
    border: 1px solid;
    border-radius: 10px;
    background-color: white;
    z-index: 1;
}