html,body {
	height:100%;
	margin:0;
}
body{
	display:flex;
	flex-direction: column;
}
#control {
	display: flex;
	justify-content: space-around;
}
#stats {
	display: flex;
	justify-content: space-around
}
#downloads {
	flex-grow:1;
	padding: 10px 0;
	display:flex;
	flex-direction: column;
}
