.tabContainer {
	display:flex;
	flex-wrap:wrap;
}
.tabContainer > header {
	border:3px outset;
	border-bottom-width:0;
	border-radius: 5px 5px 0 0px;
	line-height: 200%;
	padding-left: 5px;
	cursor: pointer;
}
.tabContainer > header button {
	cursor: pointer;
}
.tabContainer > header.active {
	border-style:inset;
	position:relative;
}
.tabContainer > header:nth-child(n+2) {
	margin-left:1px;
}
.tabContainer > header + * {
	order:2;
	width:0;
	flex-basis:100%;
	display:none;
	border:3px inset;
	border-radius: 0 5px 5px 5px;
}
.tabContainer > header.active + * {
	display:block;
}
.tabContainer > header button {
	padding:0;
	vertical-align: top;
	font-size: 50%;
	margin-left:2px;
}