.XDCCPackage {
	position:relative;
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 10px 2px;
	padding-top: 5px;
	font-size:16px;
}
.XDCCPackage > * {
	margin: 5px;
}
.XDCCPackage .name {
	position: absolute;
	bottom: 100%;
	left: 10px;
	transform: translateY(50%);
	background-color: white;
	padding: 0 5px;
	border: 1px solid lightgray;
}
.XDCCPackage progress {
	flex-basis: 100%;
	height: 30px;
}
.XDCCPackage .message {
	flex-grow:1;
}
