.XDCCPackage {
	position:relative;
	display:flex;
	flex-direction: row;
	margin: 2px;
	font-size:12px;
	align-items:center;
}
.XDCCPackage > * {
	margin: 0 5px;
	z-index:1;
}
.network, .channel, .bot, .packnumber {
	order: -1;
}
.XDCCPackage .location {
	display:none;
}
.XDCCPackage progress {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	margin:0;
	box-sizing:border-box;
	z-index:0;
}
.XDCCPackage:not([data-state=Running]) progress,
.XDCCPackage:not([data-state=Running]) .remaining {
	display:none;
}
.XDCCPackage .message {
	flex-grow:1;
}
.XDCCPackage button {
	padding: 0px;
	font-size: 12px;
	line-height: 12px;
}