.XDCCPackage[data-state=Disabled] {
	background-image: repeating-linear-gradient(45deg, grey, grey 10px, lightgray 10px, lightgray 20px);
}
.XDCCPackage[data-state=Pending] {
	background-color: lightgray;
}
.XDCCPackage[data-state=Running] {
	background-color: lightgreen;
}
.XDCCPackage[data-state=Fail] {
	background-color: red;
}
.XDCCPackage[data-state=Done] {
	background-color: lightblue;
}
.XDCCPackage:not([data-state=Pending]) .actions [data-action=disable],
.XDCCPackage:not([data-state=Disabled]) .actions [data-action=enable],
.XDCCPackage[data-state=Running] .actions [data-action=remove] {
	display:none;
}
.XDCCPackage .message[data-type="warning"] {
	background-color: yellow;
}
.XDCCPackage .message[data-type="error"] {
	background-color: red;
}

.XDCCPackage.dragover {
	box-shadow: 0 -10px RGBA(0,0,0,0.8);
}
#downloads.dragover .XDCCPackage:last-child {
	box-shadow: 0 10px RGBA(0,0,0,0.8);
}
